@import '/src/styles/common.scss';
@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';

.txtReplyId {
  float: left;
}
.btnGoodAndDelete {
  float: right;

  img {
    margin: 0px 10px;
    @include iconSize($small);

    &:hover {
      cursor: pointer;
    }
  }
}
